html(lang="en")
	head
		title Fair Poker | Provably Fair Bitcoin Poker
		link(href="static/favicon.ico" rel="shortcut icon")
		link(href="https://use.typekit.net/mhn1ozu.css" rel="stylesheet")
		link(href="dist/styles/styles.css" rel="stylesheet" type="text/css")
	body
		#content
		script(type="text/javascript", src="socket.io/socket.io.js")
		script(type="text/javascript", src="dist/bundle.js")

