.button {
  $root: &;

  display: inline-flex;
  align-items: center;
  height: 40px;
  background-color: $color-green;
  box-shadow: 0 0 25px 0 rgba(109,255,224,0.8);
  padding: 0 28px;
  color: $color-blue-dark;
  clip-path: polygon(0% 0%, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0% 100%);
  cursor: pointer;

  &--cpg-blue {
    background-color: $color-cpg-blue-light;
  }

  &--reversed {
    position: relative;
    background-color: transparent;
    border: 1px solid $color-green;
    color: $color-green;

    &:after {
      content: '';
      position: absolute;
      width: 14.14px;
      height: 14.14px;
      border: 1px solid #6DFFE0;
      box-shadow: 0 0 12px 4px rgba(109,255,224,0.25);
      right: -8px;
      bottom: -10px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
    }

    &--cpg-blue {
      border: 1px solid $color-cpg-blue-light;
      color: $color-cpg-blue-light !important;
    }
  }

  &--with-glow {
    &:hover {
      box-shadow: 0 0 40px 0 rgba(109,255,224,0.8);
    }
  }

  &--narrow {
    padding: 0 14px;
  }

  &__text {
    color: inherit;
    text-transform: uppercase;
    font-size: inherit;

    &--white {
      color: white;
    }

    &--black {
      color: black;
    }
  }

  &--margin-left {
    margin-left: 20px;
  }
}

@supports (-ms-ime-align:auto) {
  .button--reversed {
    &:after {
      content: none;
    }
  }
}