$color-black: #000;
$color-white: #fff;

$color-green-light: #D1FFFF;
$color-green: #6DFFE0;
$color-pink-light: #FF5BAF;
$color-pink: #FF2979;
$color-blue-dark: #08082F;


$color-cpg-blue-light: #27C9E5;
$color-cpg-blue-pale: #ABF4FF;
$color-cpg-blue-dark: #00182A;